{% extends 'base.html' %}

{% block head %}
<title>TLO ML HOME</title>
{% endblock head %}

{% block body %}


<main role="main" class="inner cover">
  <h1 class="cover-heading">TheLorry Machine Learning Platform.</h1>
  <p class="lead">This is a one-page template from TLO for building simple and beautiful home page. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  <p class="lead">
    <a href="/predict" class="btn btn-secondary">Start Predictions</a>
  </p>

</main>

{% endblock body %}