{% extends 'base.html' %}

{% block head %}
  <title>MLIndexPage</title>
{% endblock head %}

{% block body %}
<br>
<br>
<br>
<h1 >Lazada Time-Series Forecasts</h1>
<br>
<br>
<br>

<form action="{{ url_for('predict') }}" method="post">
    <div>
      {% if error %}
        <p>Please enter the value between 1-13</p>
      {% endif %}
      <input  class="form-control" type="number" name="text" placeholder="Enter Day of Forecast" required >
      <br>
      <button  class="btn btn-outline-success" type="submit">Forecast</button>
      <a href="/train" class="btn btn-outline-danger" type="submit">Train the model</a>
    </div>
</form>

{% if name %}
  <p>The name of the text is: {{name}}</p>
{% endif %}

{% endblock body %}