{% extends 'base.html' %}

{% block head %}
<title>TLO Predict</title>
{% endblock head %}

{% block body %}
<main role="main" class="inner cover">
  <h1 class="cover-heading">ML Predictions and Forecasts</h1>
  <p class="lead">This is a one-page template from TLO for building simple and beautiful home page. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    
  {% if name %}
  <br>
  <p class="lead">The forecast is <b>{{name}}</b> orders</p>
  <br>
  {% endif %}
  <form action="{{ url_for('predict') }}" method="post">
    <div>
      {% if error %}
      <p>Please enter the value between 1-13</p>
      {% endif %}
      <input class="form-control" type="number" name="text" placeholder="Enter Day of Forecast" required>
      <br>
      <button class="btn btn-outline-success" type="submit">Forecast</button>
      <a href="/train" class="btn btn-outline-warning" type="submit">Train the model</a>
    </div>
  </form>
  




</main>

{% endblock body %}